name: Build and Test

on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - '**'

jobs:
  build-linux-run-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: show Ubuntu version
      run: cat /etc/os-release | grep PRETTY_NAME | awk -F '=' '{print $2}'
    - name: update build environment
      run: sudo apt-get update --fix-missing -y
    - name: install prerequisites
      run: |
       sudo apt-get install libcups libcupsfilters libppd -y 
    - name: configure 
      env:
        CC: /usr/bin/gcc
      run: ./autogen.sh && ./configure
    - name: make
      run: make
    - name: Run Tests
      run: make check || cat test/error_log*
